
<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-1">
            <div class="card-body">
                <h3 class="card-title text-white">Şubemiz</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@ViewBag.location</h2>
                    <p class="text-white mb-0">Noktada Hizmet Vermekteyiz</p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa-regular fa-location-dot"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-2">
            <div class="card-body">
                <h3 class="card-title text-white">Personel</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@ViewBag.staff</h2>
                    <p class="text-white mb-0">Toplam Personel Sayısımız</p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa-regular fa-user-plus"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-3">
            <div class="card-body">
                <h3 class="card-title text-white">Referans</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@ViewBag.test</h2>
                    <p class="text-white mb-0">Toplam Referans Sayısımız</p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa-regular fa-comment"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-4">
            <div class="card-body">
                <h3 class="card-title text-white">Odalarımız</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@ViewBag.room</h2>
                    <p class="text-white mb-0">Toplam Oda Sayımız</p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa-regular fa-bed-empty"></i></span>
            </div>
        </div>
    </div>
</div>
