
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Menü Başlıkları</li>
            <li>
                <a href="javascript:void()" aria-expanded="false">
                    <i class="fa-regular fa-display-chart-up fa-2xl" style="color:#7571f9"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/AdminAbout/Index/" aria-expanded="false">
                    <i class="fa-regular fa-book-user fa-2xl" style="color:#7571f9"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="/AdminContract/Inbox/" aria-expanded="false">
                    <i class="fa-regular fa-envelopes fa-2xl" style="color:#7571f9"></i><span class="nav-text">Mesajlar</span>
                </a>
            </li>
            <li>
                <a href="/Staff/StaffList/" aria-expanded="false">
                    <i class="fa-regular fa-toolbox fa-2xl" style="color:#7571f9"></i><span class="nav-text">Personel İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/TestimonialList/" aria-expanded="false">
                    <i class="fa-regular fa-thumbs-up fa-2xl" style="color:#7571f9"></i><span class="nav-text">Referans İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/BookingAdmin/Index/" aria-expanded="false">
                    <i class="fa-regular fa-bell-concierge fa-2xl" style="color:#7571f9"></i><span class="nav-text">Müşteriler</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index/" aria-expanded="false">
                    <i class="fa-regular fa-bed fa-2xl" style="color:#7571f9"></i><span class="nav-text">Odalar</span>
                </a>
            </li>
            <li>
                <a href="/Guest/Index/" aria-expanded="false">
                    <i class="fa-regular fa-person-walking-luggage fa-2xl" style="color:#7571f9"></i><span class="nav-text">Misafirler</span>
                </a>
            </li>
    
        </ul>
    </div>
</div>
