
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Menü Başlıkları</li>
            <li>
                <a href="/Default/Index/" aria-expanded="false">
                    <i class="fa-regular fa-arrow-up-right-from-square fa-2xl" style="color:#7571f9"></i><span class="nav-text">Siteye Git</span>
                </a>
            </li>
            <li>
                <a href="/AdminDashboard/Dash/" aria-expanded="false">
                    <i class="fa-regular fa-chart-pie fa-2xl" style="color:#7571f9"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/AdminAbout/Index/" aria-expanded="false">
                    <i class="fa-regular fa-book-user fa-2xl" style="color:#7571f9"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="/AdminContract/Inbox/" aria-expanded="false">
                    <i class="fa-regular fa-message-captions fa-2xl" style="color:#7571f9"></i><span class="nav-text">Mesajlar</span>
                </a>
            </li>
            <li>
                <a href="/AdminMail/Index" aria-expanded="false">
                    <i class="fa-regular fa-envelopes fa-2xl" style="color:#7571f9"></i><span class="nav-text">Anlık Mail</span>
                </a>
            </li>
            <li>
                <a href="/Staff/StaffList/" aria-expanded="false">
                    <i class="fa-regular fa-toolbox fa-2xl" style="color:#7571f9"></i><span class="nav-text">Personel İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/TestimonialList/" aria-expanded="false">
                    <i class="fa-regular fa-thumbs-up fa-2xl" style="color:#7571f9"></i><span class="nav-text">Referans İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/BookingAdmin/Index/" aria-expanded="false">
                    <i class="fa-regular fa-bell-concierge fa-2xl" style="color:#7571f9"></i><span class="nav-text">Müşteriler</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index/" aria-expanded="false">
                    <i class="fa-regular fa-bed fa-2xl" style="color:#7571f9"></i><span class="nav-text">Odalar</span>
                </a>
            </li>
            <li>
                <a href="/Guest/Index/" aria-expanded="false">
                    <i class="fa-regular fa-person-walking-luggage fa-2xl" style="color:#7571f9"></i><span class="nav-text">Misafirler</span>
                </a>
            </li>
            <li>
                <a href="/AdminimageFile/Index/" aria-expanded="false">
                    <i class="fa-regular fa-file-image fa-2xl" style="color:#7571f9"></i><span class="nav-text">Resim İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/AdminUser/Index/" aria-expanded="false">
                    <i class="fa-regular fa-pen-to-square fa-2xl" style="color:#7571f9"></i><span class="nav-text">Kullanıcılar</span>
                </a>
            </li>
            <li>
                <a href="/Worklocation/LocationList/" aria-expanded="false">
                    <i class="fa-regular fa-location-dot fa-2xl" style="color:#7571f9"></i><span class="nav-text">Şube Lokasyonları</span>
                </a>
            </li>
            <li>
                <a href="#" aria-expanded="false">
                    <i class="fa-regular fa-location-dot fa-2xl" style="color:#7571f9"></i><span class="nav-text">Roller</span>
                </a>
            </li>
            <li>
                <a href="#" aria-expanded="false">
                    <i class="fa-regular fa-key fa-2xl" style="color:#7571f9"></i><span class="nav-text">Ayarlar</span>
                </a>
            </li>
            <li>
                <a href="#" aria-expanded="false">
                    <i class="fa-regular fa-right-from-bracket fa-2xl" style="color:#7571f9"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
    
        </ul>
    </div>
</div>
