@model HotelProject.UI.Models.Role.UpdateRoleModelView
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Role Güncelleme Sayfası</h1>

<form method="post">
    <label>Rol ID</label>
    <input type="number" readonly class="form-control input-rounded" asp-for="RoleID"/>
    <br />
    <label>Rol Adı</label>
    <input type="text" class="form-control input-rounded" asp-for="RoleName">
    <br />

    <button class="btn btn-outline-success btn-rounded">Güncelle</button>
    <a href="/Role/Index" class="btn btn-outline-secondary btn-rounded">Vazgeç</a>
</form>